<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>hello world</title>
</head>

<body>

<div></div>

<script src="../../test/vendor/jquery.js"></script>
<script src="../../test/vendor/underscore.js"></script>
<script src="../../backbone.js"></script>

<script>
    $(function (){
        // 通过Backbone.Model.extend构建自定义的Model类
        // 注意这里返回的是一个构造函数
        var App = Backbone.Model.extend({
            // 通过defaults定义实例属性
            defaults: {
                say: 'hello world!'
            },
            // initialize是在构造函数被实例化的时候调用
            initialize: function() {
                alert(this.get('say'));
            }
        });
        // 实例化
        var app = new App();
    });
</script>
</body>
</html>
