<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>单向数据绑定</title>
    <style>
        .type {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container"></div>
    <script type="text/template" class="template">
        <input class="input" type="text" value="<%= word %>">
        <p>你输入的是：<span class="type"><%= word %></span></p>
    </script>
    <script src="../../test/vendor/jquery.js"></script>
    <script src="../../test/vendor/underscore.js"></script>
    <script src="../../backbone.js"></script>
    <script>
        $(function() {
            var Echo = Backbone.Model.extend({
                defaults: {
                    word: '请输入'
                },
                initialize: function () {
                    // 当name属性被更新时触发
                    // API为"change:[attribute]" (model, value, options)
                    this.on('change:word', function(model, value) {
                        $('.type').text(value);
                    })
                }
            });
            var echo = new Echo();
            var View = Backbone.View.extend({
                el: $('.container'),
                initialize: function() {
                    this.render();
                },
                render: function() {
                    var template = _.template($('.template').html());
                    var word = '请输入';
                    // 因为定义时使用jquery对象，所以这里是$el
                    this.$el.html(template({word : word}));
                }
            });
            // new View([options])
            // 其中传入直接注册到视图中去：model, collection,el等
            var view = new View({model: echo});
            // 为输入框绑定keyup事件，每次输入时，改变echo属性word的值
            $('.input').on('keyup', function(e) {
                echo.set('word', $(this).val());
            });
        });
    </script>
</body>
</html>