<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>单向数据绑定</title>
    <style>
        .type {
            color: red;
        }
    </style>
</head>
<body>
    <input class="input" type="text">
    <p>你输入的是：<span class="type"></span></p>
    <script src="../../test/vendor/jquery.js"></script>
    <script src="../../test/vendor/underscore.js"></script>
    <script src="../../backbone.js"></script>
    <script>
        $(function() {
var Echo = Backbone.Model.extend({
    defaults: {
        word: '请输入'
    },
    initialize: function () {
        var that = this,
            word = that.get('word');
        $('.input').val(word);
        $('.type').text(word);
        // 当name属性被更新时触发
        // API为"change:[attribute]" (model, value, options)
        that.on('change:word', function(model, value) {
            $('.type').text(value);
        })
    }
});
var echo = new Echo();
            // 为输入框绑定keyup事件，每次输入时，改变echo属性word的值
            $('.input').on('keyup', function(e) {
                echo.set('word', $(this).val());
            });
        });
    </script>
</body>
</html>