<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学习Router</title>
</head>
<body>
    <script src="../../test/vendor/jquery.js"></script>
    <script src="../../test/vendor/underscore.js"></script>
    <script src="../../backbone.js"></script>
    <script>
        $(function() {
            var AppRouter = Backbone.Router.extend({
                routes: {
                    // 路由会先匹配定义在前面的
                    'post/:id': 'getPost',
                    // 匹配get，并把后面两个斜杠接着的参数传给对应的Info函数
                    'get/:name/:age': 'info',
                    '*actions': 'defaultRoute'
                }
            });
            var app_router = new AppRouter;
            // 以冒号:作为命名空间
            // 但是这里应该是把事件绑定到route上，然后route下的事件命作为命名空间
            app_router.on('route:getPost', function(id) {
                alert('你post的id是' + id);
            });
            app_router.on('route:info', function(name, age) {
                alert(name + '你' + age + '岁啦！');
            });
            app_router.on('route:defaultRoute', function(actions) {
                alert(actions);
            });

            // 启动路由必须要Backbone.history,start()监听URL
            Backbone.history.start();
        });
    </script>
</body>
</html>